[submodule "submodules/quarticRootsFlocke"]
	path = submodules/quarticRootsFlocke
	url = https://github.com/SebastianoTaddei/quarticRootsFlocke.git
[submodule "cmake_utils"]
	path = cmake_utils
	url = https://github.com/SebastianoTaddei/cmake_utils.git
[submodule "submodules/GenericContainer"]
	path = submodules/GenericContainer
	url = https://github.com/SebastianoTaddei/GenericContainer.git
[submodule "submodules/UtilsLite"]
	path = submodules/UtilsLite
	url = https://github.com/SebastianoTaddei/UtilsLite.git
